
.red {
    background-color: red;

    font-size: calc(10px + 2vmin);
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  
.green {
    background-color: green;

    font-size: calc(10px + 2vmin);
    color: white;
  }

